* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}
body, html {
    font-size: .32rem;
    background: #f0f0f0;
    color: #333;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body, dd, dl, dt, h1, h2, h3, h4, h5, input, li, p, ul{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: Microsoft YaHei,tahoma,arial;
}
body, html, input {
    font-weight: 400;
    font-family: Microsoft YaHei,tahoma,arial;
}

li, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    color: #333;
    text-decoration: none;
}
em,i {
    font-style: normal;
}
input,textarea {
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
}

.mb10 {
    margin-bottom: .26666667rem;
} 
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.clearfix:after {
    height: 0;
    line-height: 0;
}
.page {
    width: 100%;
}
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
img {
    vertical-align: middle;
}