* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}
body, html {
    font-size: .32rem;
    background: #f0f0f0;
    color: #333;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body, dd, dl, dt, h1, h2, h3, h4, h5, input, li, p, ul{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: Microsoft YaHei,tahoma,arial;
}
body, html, input {
    font-weight: 400;
    font-family: Microsoft YaHei,tahoma,arial;
}

li, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    color: #333;
    text-decoration: none;
}
em,i {
    font-style: normal;
}

input {
    font-weight: 400;
    font-family: Microsoft YaHei,tahoma,arial;
}
input, textarea {
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
}

.mb10 {
    margin-bottom: .26666667rem;
} 
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.clearfix:after {
    height: 0;
    line-height: 0;
}
.page {
    width: 100%;
}
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
img {
    vertical-align: middle;
}
.iconfont {
    font-size: .53333333rem;
    color: #ccc;
}
.color_red {
    color: #FF6666;
}
button {
    height: 1.2rem;
    line-height: 1.2rem;
    border: 1px solid #ccc;
    color: #ccc;
    text-decoration: none;
    text-align: center;
    -webkit-border-radius: .1rem;
    border-radius: .1rem;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: none;
    padding: 0 .2rem;
    margin: .4rem 0 0;
    position: relative;
    font-size: .37333333rem;
    cursor: pointer;
    outline: 0;
    display: block
}

input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], textarea {
    -webkit-appearance: none;
    border: 1px solid;
}
input[type=password], input[type=tel], input[type=text], select, textarea {
    width: 100%;
    padding: .26666667rem .4rem;
    -webkit-user-select: text;
    border: 0;
    outline: 0;
    background: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    background: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    margin: 0;
    color: #ccc;
    font-size: .37333333rem;
}
.show {
    display: block;
}
.btn_disabled, button[disabled] {
    background: #eee;
    border-color: #eee;
}
button[disabled] {
    color: #bcbcbc;
}
button.mt20 {
    margin-top: .53333333rem;
}
button[disabled], html input[disabled] {
    cursor: default;
}
.btn_red {
    background: #f66;
    color: #fff;
    border-color: #f66;
}
.btn_default {
    border: 1px solid #ccc;
    color: #ccc;
}
.btn_block {
    display: block;
    width: 100%;
    margin-bottom: .26666667rem;
}
.mt20 {
    margin-top: .53333333rem;
}
.fl {
    float: left;
}
button:focus, input:focus, select:focus, textarea:focus {
    outline: none;
}
input::-webkit-input-placeholder {
    /* placeholder颜色  */  
    color: #ccc;     
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none
}
.float {
    float: left
}

.t_l {
    text-align: left
}

.t_c {
    text-align: center
}

.t_r {
    text-align: right
}

.c333 {
    color: #333
}

.c666 {
    color: #666
}

.c999 {
    color: #999
}

.cf66 {
    color: #f66
}

.bg_fff {
    background-color: #fff
}

.bg_f0f0f0 {
    background-color: #f0f0f0
}

.bg_f9f9f9 {
    background-color: #f9f9f9
}

.mt0 {
    margin-top: 0
}

.mt10 {
    margin-top: .26666667rem
}

.mt20 {
    margin-top: .53333333rem
}

.mt30 {
    margin-top: .8rem
}

.mt40 {
    margin-top: 1.06666667rem
}

.mb0 {
    margin-bottom: 0
}

.mb5 {
    margin-bottom: .13333333rem
}

.mb10 {
    margin-bottom: .26666667rem
}

.mb20 {
    margin-bottom: .53333333rem
}

.ml0 {
    margin-left: 0
}

.ml10 {
    margin-left: 1 0
}

.ml20 {
    margin-left: .53333333rem
}

.mr0 {
    margin-right: 0
}

.mr10 {
    margin-right: .26666667rem
}

.mr20 {
    margin-right: .53333333rem
}

.pd0 {
    padding: 0
}

.pd10 {
    padding: .2rem
}

.pd20 {
    padding: .4rem
}

.pt0 {
    padding-top: 0
}

.pt10 {
    padding-top: .26666667rem
}

.pt20 {
    padding-top: .53333333rem
}

.pb0 {
    padding-bottom: 0
}

.pb10 {
    padding-bottom: .26666667rem
}

.pb20 {
    padding-bottom: .53333333rem
}

.pl0 {
    padding-left: 0
}

.pl10 {
    padding-left: .26666667rem
}

.pl20 {
    padding-left: .53333333rem
}

.pr0 {
    padding-right: 0
}

.pr10 {
    padding-right: .26666667rem
}

.pr20 {
    padding-right: .53333333rem
}

.border_box {
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.fl {
    float: left
}

.fr {
    float: right
}

.clearfix {
    zoom:1}

.clearfix:after {
    display: table;
    content: "";
    height: 0;
    line-height: 0;
    clear: both
}

.hide {
    display: none
}

.show {
    display: block
}
